// ---------------------------------------------------------------------------
// Imports

// Core Variables & Mixins

@import "partials/variables";
@import "partials/mixins";
@import "partials/base";

.map-wrapper {
	float:left;
	margin:0 0 100px;
	position:relative;
	height:565px; 
	width:694px;
	
	img {
		position:absolute;
		top:40px;
		left: 0;
		border:0;
	}
	
	.invisible {
		visibility:none;
	}

}

.hover-border {
	border:2px solid black;
}

.hidden {
	display:none;
}

#map-explanation {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: .5em;
}

#wholesaler-number {
	text-align: center;
	margin-top: 1em;
}


.sales-team-tab {
	display: inline;
	float: left;
	width: 219px;
	@include highlighted-section($grayLighter);
	margin: 1em 0;
	
	img {
		float: left;
		margin-right: .5em;
		width: 100px;
		height: 140px;
		background: $white;
	}
	
	h3 {
		font-size: inherit;
		line-height: inherit;
	}
	
	h4 {
		font-size: inherit;
		line-height:inherit;
		float: left;
		width: 72px;
	}
	
	.internal-name {
		width: 100%;
	}
}

.rep-name {
	display: inline;
	float: left;
	margin-bottom: .75em;
}

.track-contact,
.phone-number,
.internal-ext {
	font-size: $baseFontSize/1.5;
}

.track-contact {
	font-weight: 100;
}

.sales-team-wrapper {
  border-bottom: 1px solid #64727b;
  padding: 1em;
}

.sales-team-wrapper.last {
  border-bottom: none;
}

