// ---------------------------------------------------------------------------
// Imports

// Core Variables & Mixins

@import "partials/variables";
@import "partials/mixins";
@import "partials/base";


.question-container {
	
	h2 {
		float: left;
	}
	
	form {
		float: left;
		@include span-columns(12, 12);
	}
}

.step-display {
	display: inline-block; 
	margin-left: 1em;
	font-size: $baseFontSize/2;
	color: $grayLight;
}


#generate-report {
	float: right;
	margin-bottom: 1em;
}
