// ---------------------------------------------------------------------------
// Imports

// Core Variables & Mixins

@import "partials/variables";
@import "partials/mixins";
@import "partials/base";

// Components: Buttons & Alerts
@import "partials/_buttons";


// ---------------------------------------------------------------------------
// Imports
.question-selector {
	@include span-columns (12,12);
	
	.question-header {
		font-size: $baseFontSize*1.25;
		margin-bottom: .5em;
		display: inline-block;
	}
}

.report-questions {
	@include span-columns (6 omega, 12);
}


.available-questions {
	@include span-columns (6,12);
}

.section-header {
	@include span-columns (6 omega,6);
	
	* {
		float: left;
	}
	
	h3 {
		margin-right: 1em;
	}
	
	.btn {
		margin-top: .25em;
	}
	.continue {
		margin-left: .25em;
	}
	
	.add {
		float: right;
	}
}
.categories {
	@include span-columns (6 omega,6);
}

.header {
	@include highlighted-section($offWhite);
	padding: 4.31%;
	cursor: pointer;
	margin-bottom: 1em;	

	
	&:hover {
		@include highlighted-section($grayLighter);
	}
	
	input[type="checkbox"]{
		float: left;
		margin-right: .25em;
	}
	
	.available-questions, 
	.report-questions,
	.selected-questions {
			display: inline;
			float: left;
			width: 100%;
			list-style: none;
			padding: 0;
			margin-left: 0;

		a {
			display: inline;
			float: left;
			width: 94%;
			text-align: left;
			text-transform: capitalize;
			margin-bottom: .5em;
			margin-right: 0;
		}
		
		.btn.btn-primary.btn-classy.highlighted {
			@extend .btn-primary;
		}
		
	}
}

.button-wrapper {
	@include span-columns (12,12);
}

.add-wrapper {
	@include span-columns (6,12);
	
	#questionSelector {
		display: none;
	}
	
	button {
		float: right;	
	}	
}

.continue-wrapper {
	@include span-columns (6 omega, 12);
	
	button {
		float: right;
	}
}