/* Global Styles */
body {
	background: $grayDark;
}
* {
	font-family: $sansFontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
  font-weight: 600;
  
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

}

//a.external {
//	padding-right: 20px;
//	background-image: image-url('external.png') no-repeat right center transparent;
//}

a.inactive {
	color: $grayLight;
	cursor: default;
	
	&:hover {
		text-decoration: none;
	}
}


/* Layout */

.page {
  @include container;
  background: $white;
  @include box-shadow($shadow);
}

/* Header */


// Constant Nav

.call-out {
	width: 106%;
	float: left;
	margin-left: -3%;
	@include box-shadow($shadow);
}

#nConstant {
	z-index: 1;
	
	.nav {
		background: $bright-green;
		padding: 1% 1% 1% 70%;
		margin-bottom: 1em;
		width: 35%;
		float: left;
		margin-left: -3%;
		@include box-shadow($shadow);
		z-index: 3;	
	}
	
	li {
		float: left;
		margin-left: 5%;
		line-height: 1em;
	}
	
	a {
		text-decoration: none;
		color: $white;
		text-transform: uppercase;
		font-weight: 900;
		font-size: .75em;
		
		&:hover {
			color: $grayLighter;
		}
	}
}

#fold {
	@include fold;
	margin-top: -1em;
}

#fold.left {
	@include fold-left(12px, 12px, 'fold-left-constant.png');
	margin-left: -3%;
}

#fold.right {
	@include fold-right( 12px, 12px, 'fold-right-constant.png');
	margin-right: -3%;
}

// Logo

#logo {
	
	@include span-columns(12 omega,12);
	margin-bottom: 1em;
	
	a {
		text-decoration: none;
		color: $dark-green;
		@include span-columns(7, 12);
	}
	
	img {
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 1%;
	}
	
	h1 {
		float: left;
		line-height: 2.5em;
		color: $dark-green;
	
	}
}

#searchBox {
	float: right;
	padding-top: 32px;
	
	input {
		@include border-radius($radius);
		background: lighten($grayLighter, 5%);
	}
	
	button {
		height: 32px; 
		width: 32px;
		background: image-url('search-button.png') no-repeat center center;
		background-size: 100%;
		border: none;
		//@include border-radius($radius);
		//@include gradientBar($btnBackgroundSecondary, $btnBackgroundSecondaryHighlight);
		padding: 0px;
		margin-bottom: 9px;
		margin-left: -30px;
		
		a {
			display: block;
			height: 32px; 
			width: 32px;
			//background: image-url('search.png') no-repeat center center;
			padding: 0; //overwrites .external padding above
		}
	}
}

#nPrimary,
#footer {
	width: 103.4%;
	float: left;
	margin-left: -1.80%;

	//@include span-columns(12 omega, 12);
	
	ul {
		@include span-columns(12 omega, 12);
	}
	
	li {
		margin: 0;
	}
	
	a {
		font-family: $headingsFontFamily;
		font-weight: bold;
		text-transform: uppercase;
	}
	
}

#nPrimary {
	li {
		border-right: 1px solid $grayLight;
		padding: 0 2.6%

	}
	
	.last {
		border: none;
	}	
}

/* Home - Callout */
#content {
	padding-bottom: 2em;


	.call-out {
		width: 103%;
		padding: 1.5%;
		background: $brown;
		margin-top: 10px;
		margin-bottom: 1em;
	}

}

.callout-content {
	float: left;
	width: 60%;
	margin-right: 2%;
	
	li {
	  color: $white;
	  margin-bottom: 1em;
	}
}

.callout-action {
	float: right;
	width: 38%;

	.btn {
		margin-top: 27%;
	}
}

/* Home - Main Content */

.main-wrapper {
	@include span-columns(8, 12);
}

/* Home - Podcast Player */

.now-playing.pod.regular {
	display: none;
}

.podcast-wrapper,
.podcast-player {
	@include span-columns(8 omega, 8);	
}

.podcast-player {
	margin: 1em 0 1em;
	
	h3 {
		background: $grayDarker;
		font-size: 1em;
		color: $white;
		padding: .5em;
	}
	
	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		
		li {
			@include span-columns(8 omega, 8);
			margin-top: 1em;
			padding: .5em 0;
		}
		
		.selected {
			@include border-radius($radius);
			background: $muted-green;
			border: 1px solid $grayLight;
		}
	}
}

.play-btn {
	display: block;
	float: left;
	background: image-url('play-btn.png') no-repeat center center;
	height: 52px;
	width: 52px;
	color: transparent;
	margin: 1em;
	
	&:hover {
		color: transparent;
		background: image-url('play-btn-dn.png') no-repeat center center;
	}	
}

.play-btn.pause-button {
	background: image-url('pause-btn.png') no-repeat center center;
	
	&:hover {
		background: image-url('pause-btn-dn.png') no-repeat center center;
	}	
	
}

.podcast-info {
	float: left;
	width: 85%;
	font-size: .85em;
	
	.date {
		font-style: italic;
	}
}

//temp until this is a function and we use an img
.podcast-icon {
	float: left;
	width: 155px;
	height: 155px;
	background: image-url('podcast-icon.png') no-repeat;
	margin-right: 2%;
}

.podcast-buttons {
	margin-top: 1em;
}

/* Home - Business Growth Resources */

.business-growth-resources {
	@include span-columns(8 omega, 8);
	
	.tab-pane {
		display: none;
	}
	
	.tab-pane.active {
		@include span-columns(8 omega, 8);
	}

	.summary {
		@include span-columns(4, 8);
	}
	
	.thumbnail-wrapper {
		@include span-columns(4 omega, 8);
		
		h3 {
			text-align: center;
		}
		
		em {
			text-align: center;
			@include span-columns(4 omega, 4);
			margin-bottom: 1em;
		}
		
		img {
			@include center-block;
			margin-bottom: 1em;
		}
		
		.btn-group {
			padding: 0 6%;
		}
	}
	
}

.disclaimer {
    @include span-columns(8 omega, 8);
    padding-top: 1em;
    color: $grayDarker;
    font-size: .75em;
}	



/* Home - Sidebar */

.sidebar {
	@include span-columns(4 omega, 12);
	@include highlighted-section($grayLighter);
	
	.info {
		@include span-columns(4,4);
		margin-bottom: 1em;
	}
	
	h4 {
		background: $grayDarker;
		font-size: 1em;
		color: $white;
		padding: .75em;
		overflow: hidden;
	}
	
	.first {
		@include border-top-radius($radius);
	}
	
	p {
		padding: .75em;
	}
	
	.btn {
		margin: 0 1em;
	}
}




.footer-hr {
	width: 103.4%;
	height: 1px;
	background: lighten($brown, 5%);
	float: left;
	margin: 0 0 0 -1.80%;
	border-top: 1px solid darken($brown, 10%);
	border-bottom: 1px solid lighten($brown, 15%);

}

#footer {
	background: $brown;
	padding-top: 1em;
	
	.nav {
		padding: 0 1em 0;
		
		li {
			margin: 0 2.6%;
			float: left;
	
			a {
				font-family: $headingsFontFamily;
				font-weight: bold;
				text-transform: uppercase;
				float: none;
				// Vertically center the text given $navbarHeight
				$elementHeight: 20px;
				padding: (($navbarHeight - $elementHeight) / 2 +1) 10px (($navbarHeight - $elementHeight) / 2 + 1);
				line-height: 19px;
				color: darken($brown, 30%);
				text-decoration: none;
				text-shadow: 0 1px 0px rgba(255,255,255,.75);
				
				&:hover {
					color: darken($brown, 40%);
					background-color: transparent;
				}

			}
		}
	}
	
	.page {
		background: $brown;
		@include box-shadow(0 0 0 #000);
		
		a {
			text-transform: none;
		}
		
		p {
			color: $white;
			font-size: 12px;
		}
	}
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)  {

@import "partials/_tablet";

}

#createdBy {
	display: none;
	width: 0;
	height: 0;
	border: none;
	padding: 0;
	margin: 0;
}

// Signup/Account Page

.account-form {
	@include span-columns (12 omega, 12);
	
	h4, h5 {
		margin-bottom: 1em;
	}
}

.signup {
	@include span-columns (6, 12);
}

.logo-form {
	@include span-columns (6 omega, 12);
	
	input[type="file"] {
		margin-bottom: 1em;
		display: inline-block;
	}
}

.logo {
	margin-bottom: 1em;
	

}

.button-wrapper {
	@include span-columns (12 omega, 12);
}

// specialForm for Support Request contact form on Contact Us Page

#specialForm {
	
	ol {
		list-style: none;
	}
	
	#field_remoteIP,
	#field_podID {
		display: none;
	}
}