/* Global Styles */
body {
	background: $bodyBackground;
}
* {
	font-family: $sansFontFamily;
}

a {
  color: $linkColor;
  text-decoration: none;
  font-weight: 600;
  
  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

}


a.inactive {
	color: $grayLight;
	cursor: default;
	
	&:hover {
		text-decoration: none;
	}
}


/* Layout */

.page {
  @include container;
}

.hidden {
	display: none;
}

#main-welcome {
	@include span-columns(10,12);
	@include push(1,12);
	text-align: center;
}

.instructions {
	line-height: 1.5em;
}

label {
	@include span-columns(12,12);
	text-align: center;
	color: $labelColor;
}

.full-width {
	@include span-columns (12, 12);
}