// Typography
// Headings, body text, lists, code, and more for a versatile and durable typography system
// ----------------------------------------------------------------------------------------


// BODY TEXT
// ---------


h1 {
  font-size: 2em;
  line-height: $baseLineHeight * 1.5;
  small {
    font-size: 18px;
  }
}
h2 {
  font-size: 1.5em;
  line-height: $baseLineHeight * 1.25;
  small {
    font-size: 18px;
  }
}
h3 {
  font-size: 1.25em;
  line-height: $baseLineHeight * 1.15;
  small {
    font-size: 14px;
  }
}
h4, h5, h6 {
  line-height: $baseLineHeight;
}
h4 {
  font-size: 1em;
  small {
    font-size: 12px;
  }
}
h5 {
  font-size: .75em;
}
h6 {
  font-size: .5em;
  color: $grayLight;
  text-transform: uppercase;
}

// Homepage Layout
// ----------------------------------------------------------------------------------------

#nConstant .nav {
	width: 39%;
}

//specific for vertical spacing on homepage h1
#logo h1 {
	line-height: 3.5em;
	font-size: 1.75em;
}

//gets all the nav items on the same line
#nPrimary, #footer {

	li {
		padding: 0 1.3%

	}
	
	.navbar .nav > li > a {
		padding: 15px 5px;
	}
}

//pushes callout down slightly to prevent overlap
.flexslider-container {
	margin-bottom: 1px;
}

.callout-content {
	width: 54%;
}

.callout-action {
	width: 43%;
	
	.btn {
		margin-top: 35%;
	}
}
// Home - Main Content 

.main-wrapper {
	@include span-columns(7, 12);
}

.podcast-wrapper,
.podcast-player {
	@include span-columns(7 omega, 7);
	
	h2 {
		line-height: 1.25em;
	}
}

.podcast-player {
	margin: .75em 0;
	
	ul {
	
		li {
		    @include span-columns(7 omega, 7);
		    margin-top: .5em;
		    padding: 0;
		}
	}
	
	.btn {
		margin: 1em 0 0 14em;
	}
}

.play-btn {
	margin: 2em .5em .5em;
	
}

.podcast-info {
	width: 80%;
}

// Home - Business Growth

.business-growth-resources {
	
	.btn-large {
		padding: 9px;
	}
	
	.thumbnail-wrapper {
		
		.btn-large {
			margin: 0 4.25em;
		}
	}
}
// Home - Sidebar

.sidebar {
	@include span-columns(5 omega, 12);
	
	.info {
		@include span-columns(5,5);
	}
}

//Footer

#footer {
	
	.nav {
		padding: 0;
		
		li {
			margin: 0;
		}
	}
}

// Forms
// ----------------------------------------------------------------------------------------

input, textarea {
	width: 210px;
}