/*
$transition
$degrees
$ratio
$x
$y
$z
$visibility
$clip
$size
$boxmodel
$select
$opacity
*/
/* line 15, ../sass/partials/_mixins.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 20, ../sass/partials/_mixins.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/partials/_mixins.scss */
.cf {
  zoom: 1;
}

/* ---------------------------- LAYOUT HACKS ---------------------------- */
/* line 112, ../sass/partials/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ---------------------------- CSS3 PROPERTIES ---------------------------- */
/* line 10, ../sass/contact-us.scss */
.map-wrapper {
  float: left;
  margin: 0 0 100px;
  position: relative;
  height: 565px;
  width: 694px;
}
/* line 17, ../sass/contact-us.scss */
.map-wrapper img {
  position: absolute;
  top: 40px;
  left: 0;
  border: 0;
}
/* line 24, ../sass/contact-us.scss */
.map-wrapper .invisible {
  visibility: none;
}

/* line 30, ../sass/contact-us.scss */
.hover-border {
  border: 2px solid black;
}

/* line 34, ../sass/contact-us.scss */
.hidden {
  display: none;
}

/* line 38, ../sass/contact-us.scss */
#map-explanation {
  float: left;
  width: 100%;
  text-align: center;
  margin-top: .5em;
}

/* line 45, ../sass/contact-us.scss */
#wholesaler-number {
  text-align: center;
  margin-top: 1em;
}

/* line 51, ../sass/contact-us.scss */
.sales-team-tab {
  display: inline;
  float: left;
  width: 219px;
  background: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: inset #4e4e4e 0px 0px 5px;
  -moz-box-shadow: inset #4e4e4e 0px 0px 5px;
  box-shadow: inset #4e4e4e 0px 0px 5px;
  margin: 1em 0;
}
/* line 58, ../sass/contact-us.scss */
.sales-team-tab img {
  float: left;
  margin-right: .5em;
  width: 100px;
  height: 140px;
  background: white;
}
/* line 66, ../sass/contact-us.scss */
.sales-team-tab h3 {
  font-size: inherit;
  line-height: inherit;
}
/* line 71, ../sass/contact-us.scss */
.sales-team-tab h4 {
  font-size: inherit;
  line-height: inherit;
  float: left;
  width: 72px;
}
/* line 78, ../sass/contact-us.scss */
.sales-team-tab .internal-name {
  width: 100%;
}

/* line 83, ../sass/contact-us.scss */
.rep-name {
  display: inline;
  float: left;
  margin-bottom: .75em;
}

/* line 91, ../sass/contact-us.scss */
.track-contact,
.phone-number,
.internal-ext {
  font-size: 0.667em;
}

/* line 95, ../sass/contact-us.scss */
.track-contact {
  font-weight: 100;
}

/* line 99, ../sass/contact-us.scss */
.sales-team-wrapper {
  border-bottom: 1px solid #64727b;
  padding: 1em;
}

/* line 104, ../sass/contact-us.scss */
.sales-team-wrapper.last {
  border-bottom: none;
}
