/*
$transition
$degrees
$ratio
$x
$y
$z
$visibility
$clip
$size
$boxmodel
$select
$opacity
*/
/* line 15, ../sass/partials/_mixins.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 20, ../sass/partials/_mixins.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/partials/_mixins.scss */
.cf {
  zoom: 1;
}

/* ---------------------------- LAYOUT HACKS ---------------------------- */
/* line 112, ../sass/partials/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ---------------------------- CSS3 PROPERTIES ---------------------------- */
/* line 13, ../sass/form.scss */
.question-container h2 {
  float: left;
}
/* line 17, ../sass/form.scss */
.question-container form {
  float: left;
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

/* line 23, ../sass/form.scss */
.step-display {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.5em;
  color: #999999;
}

/* line 31, ../sass/form.scss */
#generate-report {
  float: right;
  margin-bottom: 1em;
}
