/*
$transition
$degrees
$ratio
$x
$y
$z
$visibility
$clip
$size
$boxmodel
$select
$opacity
*/
/* line 15, ../sass/partials/_mixins.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 20, ../sass/partials/_mixins.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/partials/_mixins.scss */
.cf {
  zoom: 1;
}

/* ---------------------------- LAYOUT HACKS ---------------------------- */
/* line 112, ../sass/partials/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ---------------------------- CSS3 PROPERTIES ---------------------------- */
/* line 32, ../sass/ie.scss */
.no-borderradius .page,
.no-borderradius #nConstant .nav,
.no-borderradius #searchBox input,
.no-borderradius .navbar-inner,
.no-borderradius .call-out,
.no-borderradius .btn,
.no-borderradius .podcast-player ul .selected,
.no-borderradius .sidebar,
.no-borderradius .sidebar h4.first,
.no-borderradius .tab-group .first.btn-large,
.no-borderradius #plan-benchmarking,
.no-borderradius #plan-benchmarking h4,
.no-borderradius #fee-benchmarking,
.no-borderradius #fee-benchmarking h4,
.no-borderradius .business-growth-contact,
.no-borderradius .header {
  position: relative !important;
  behavior: url("/PIE.php") !important;
}
/* line 37, ../sass/ie.scss */
.no-borderradius .pat-logo {
  float: left;
}
/* line 41, ../sass/ie.scss */
.no-borderradius #searchBox button {
  background: url('/includes/files/base/css/scss/images/search-ie.png?1348082083') no-repeat !important;
  position: relative;
  z-index: 200;
}
/* line 49, ../sass/ie.scss */
.no-borderradius .sidebar h4.first,
.no-borderradius #plan-benchmarking h4,
.no-borderradius #fee-benchmarking h4 {
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}
/* line 54, ../sass/ie.scss */
.no-borderradius .tab-group .first.btn-large {
  border-radius: 10px 0px 0px 0px;
}
/* line 58, ../sass/ie.scss */
.no-borderradius .tab-group .last.btn-large {
  border-radius: 0px 10px 0px 0px;
}
/* line 62, ../sass/ie.scss */
.no-borderradius .play-btn {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
/* line 66, ../sass/ie.scss */
.no-borderradius .no-access-popup {
  background: url('/includes/files/base/css/scss/images/popup-bg-ie.png?1348162990') no-repeat;
  background-size: 50%;
}
/* line 73, ../sass/ie.scss */
.no-borderradius .btn,
.no-borderradius .btn-classy
.btn-large {
  border-radius: 5px;
  position: relative !important;
  behavior: url("/PIE.php") !important;
  overflow: hidden;
}

/* line 87, ../sass/ie.scss */
#ie6 .no-access .tool,
#ie7 .no-access .tool {
  filter: alpha(opacity=25);
}

/* line 96, ../sass/ie.scss */
#ie8 .no-access .tool {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
}
