/*
$transition
$degrees
$ratio
$x
$y
$z
$visibility
$clip
$size
$boxmodel
$select
$opacity
*/
/* line 15, ../sass/partials/_mixins.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 20, ../sass/partials/_mixins.scss */
.cf:after {
  clear: both;
}

/* line 25, ../sass/partials/_mixins.scss */
.cf {
  zoom: 1;
}

/* ---------------------------- LAYOUT HACKS ---------------------------- */
/* line 112, ../sass/partials/_mixins.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* ---------------------------- CSS3 PROPERTIES ---------------------------- */
/* line 9, ../sass/partials/_buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.4em;
  *line-height: 20px;
  color: #818181;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  background-color: #6b8d51;
  background-image: -moz-linear-gradient(top, #759a59, #5c7a46);
  background-image: -ms-linear-gradient(top, #759a59, #5c7a46);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#759a59), to(#5c7a46));
  background-image: -webkit-linear-gradient(top, #759a59, #5c7a46);
  background-image: -o-linear-gradient(top, #759a59, #5c7a46);
  background-image: linear-gradient(top, #759a59, #5c7a46);
  background-repeat: repeat-x;
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739757', endColorstr='#5a7644', GradientType=0); // IE9 and down */
  border-color: #5c7a46 #5c7a46 #38492a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#759a59, #5c7a46);
  /*PIE*/
  behavior: url(/PIE.php);
  *background-color: #5c7a46;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  border: 1px solid #445934;
  *border: 0;
  border-bottom-color: #2b3921;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
/* line 412, ../sass/partials/_mixins.scss */
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
  background-color: #5c7a46;
  *background-color: #506a3d;
}
/* line 419, ../sass/partials/_mixins.scss */
.btn:active, .btn.active {
  background-color: #445934 \9;
}
/* line 65, ../sass/partials/_mixins.scss */
.btn:first-child {
  *margin-left: 0;
}

/* line 34, ../sass/partials/_buttons.scss */
.btn:hover {
  color: #818181;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}

/* line 47, ../sass/partials/_buttons.scss */
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 53, ../sass/partials/_buttons.scss */
.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* line 63, ../sass/partials/_buttons.scss */
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 76, ../sass/partials/_buttons.scss */
.btn-large {
  padding: 9px 28px;
  font-size: 1em;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 82, ../sass/partials/_buttons.scss */
.btn-large [class^="icon-"] {
  margin-top: 1px;
}

/* line 87, ../sass/partials/_buttons.scss */
.btn-small {
  padding: 5px 20px;
  font-size: 0.87em;
  line-height: 1.333em;
}

/* line 92, ../sass/partials/_buttons.scss */
.btn-small [class^="icon-"] {
  margin-top: -1px;
}

/* line 97, ../sass/partials/_buttons.scss */
.btn-mini {
  padding: 2px 6px;
  font-size: 1.667em;
  line-height: 2.333em;
}

/* line 120, ../sass/partials/_buttons.scss */
.btn-primary, .header .available-questions .btn.btn-primary.btn-classy.highlighted,
.header .report-questions .btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted,
.btn-primary:hover,
.header .available-questions .btn.btn-primary.btn-classy.highlighted:hover,
.header .report-questions .btn.btn-primary.btn-classy.highlighted:hover,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

/* line 130, ../sass/partials/_buttons.scss */
.btn-primary.active, .header .available-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .report-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .active.btn.btn-primary.btn-classy.highlighted,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

/* line 136, ../sass/partials/_buttons.scss */
.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/* line 141, ../sass/partials/_buttons.scss */
.btn-primary, .header .available-questions .btn.btn-primary.btn-classy.highlighted,
.header .report-questions .btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted {
  background-color: #6b8d51;
  background-image: -moz-linear-gradient(top, #759a59, #5c7a46);
  background-image: -ms-linear-gradient(top, #759a59, #5c7a46);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#759a59), to(#5c7a46));
  background-image: -webkit-linear-gradient(top, #759a59, #5c7a46);
  background-image: -o-linear-gradient(top, #759a59, #5c7a46);
  background-image: linear-gradient(top, #759a59, #5c7a46);
  background-repeat: repeat-x;
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#739757', endColorstr='#5a7644', GradientType=0); // IE9 and down */
  border-color: #5c7a46 #5c7a46 #38492a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#759a59, #5c7a46);
  /*PIE*/
  behavior: url(/PIE.php);
  *background-color: #5c7a46;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
}
/* line 412, ../sass/partials/_mixins.scss */
.btn-primary:hover, .header .available-questions .btn.btn-primary.btn-classy.highlighted:hover,
.header .report-questions .btn.btn-primary.btn-classy.highlighted:hover,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted:hover, .btn-primary:active, .header .available-questions .btn.btn-primary.btn-classy.highlighted:active,
.header .report-questions .btn.btn-primary.btn-classy.highlighted:active,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted:active, .btn-primary.active, .header .available-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .report-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .active.btn.btn-primary.btn-classy.highlighted, .btn-primary.disabled, .header .available-questions .disabled.btn.btn-primary.btn-classy.highlighted,
.header .report-questions .disabled.btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .disabled.btn.btn-primary.btn-classy.highlighted, .btn-primary[disabled], .header .available-questions [disabled].btn.btn-primary.btn-classy.highlighted,
.header .report-questions [disabled].btn.btn-primary.btn-classy.highlighted,
.header .selected-questions [disabled].btn.btn-primary.btn-classy.highlighted {
  background-color: #5c7a46;
  *background-color: #506a3d;
}
/* line 419, ../sass/partials/_mixins.scss */
.btn-primary:active, .header .available-questions .btn.btn-primary.btn-classy.highlighted:active,
.header .report-questions .btn.btn-primary.btn-classy.highlighted:active,
.header .selected-questions .btn.btn-primary.btn-classy.highlighted:active, .btn-primary.active, .header .available-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .report-questions .active.btn.btn-primary.btn-classy.highlighted,
.header .selected-questions .active.btn.btn-primary.btn-classy.highlighted {
  background-color: #445934 \9;
}

/* line 145, ../sass/partials/_buttons.scss */
.btn-classy {
  background-color: #c7c7c7;
  background-image: -moz-linear-gradient(top, #d2d2d2, #b8b8b8);
  background-image: -ms-linear-gradient(top, #d2d2d2, #b8b8b8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2d2d2), to(#b8b8b8));
  background-image: -webkit-linear-gradient(top, #d2d2d2, #b8b8b8);
  background-image: -o-linear-gradient(top, #d2d2d2, #b8b8b8);
  background-image: linear-gradient(top, #d2d2d2, #b8b8b8);
  background-repeat: repeat-x;
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#b6b6b6', GradientType=0); // IE9 and down */
  border-color: #b8b8b8 #b8b8b8 #929292;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#d2d2d2, #b8b8b8);
  /*PIE*/
  behavior: url(/PIE.php);
  *background-color: #b8b8b8;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
}
/* line 412, ../sass/partials/_mixins.scss */
.btn-classy:hover, .btn-classy:active, .btn-classy.active, .btn-classy.disabled, .btn-classy[disabled] {
  background-color: #b8b8b8;
  *background-color: #acacac;
}
/* line 419, ../sass/partials/_mixins.scss */
.btn-classy:active, .btn-classy.active {
  background-color: #9f9f9f \9;
}

/* line 150, ../sass/partials/_buttons.scss */
.btn-danger {
  background-color: #ba4740;
  background-image: -moz-linear-gradient(top, #c75048, #a83b34);
  background-image: -ms-linear-gradient(top, #c75048, #a83b34);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c75048), to(#a83b34));
  background-image: -webkit-linear-gradient(top, #c75048, #a83b34);
  background-image: -o-linear-gradient(top, #c75048, #a83b34);
  background-image: linear-gradient(top, #c75048, #a83b34);
  background-repeat: repeat-x;
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c64c44', endColorstr='#a53a32', GradientType=0); // IE9 and down */
  border-color: #a83b34 #a83b34 #6e2622;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#c75048, #a83b34);
  /*PIE*/
  behavior: url(/PIE.php);
  *background-color: #a83b34;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
}
/* line 412, ../sass/partials/_mixins.scss */
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  background-color: #a83b34;
  *background-color: #95342e;
}
/* line 419, ../sass/partials/_mixins.scss */
.btn-danger:active, .btn-danger.active {
  background-color: #812d28 \9;
}

/* line 158, ../sass/partials/_buttons.scss */
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
/* line 161, ../sass/partials/_buttons.scss */
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/* line 169, ../sass/partials/_buttons.scss */
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
/* line 173, ../sass/partials/_buttons.scss */
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
/* line 177, ../sass/partials/_buttons.scss */
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

/* line 16, ../sass/questions.scss */
.question-selector {
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 19, ../sass/questions.scss */
.question-selector .question-header {
  font-size: 1.25em;
  margin-bottom: .5em;
  display: inline-block;
}

/* line 26, ../sass/questions.scss */
.report-questions {
  width: 49.153%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 31, ../sass/questions.scss */
.available-questions {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

/* line 35, ../sass/questions.scss */
.section-header {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 38, ../sass/questions.scss */
.section-header * {
  float: left;
}
/* line 42, ../sass/questions.scss */
.section-header h3 {
  margin-right: 1em;
}
/* line 46, ../sass/questions.scss */
.section-header .btn {
  margin-top: .25em;
}
/* line 49, ../sass/questions.scss */
.section-header .continue {
  margin-left: .25em;
}
/* line 53, ../sass/questions.scss */
.section-header .add {
  float: right;
}

/* line 57, ../sass/questions.scss */
.categories {
  width: 100%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

/* line 61, ../sass/questions.scss */
.header {
  background: #f7f7f9;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: inset #4e4e4e 0px 0px 5px;
  -moz-box-shadow: inset #4e4e4e 0px 0px 5px;
  box-shadow: inset #4e4e4e 0px 0px 5px;
  padding: 4.31%;
  cursor: pointer;
  margin-bottom: 1em;
}
/* line 68, ../sass/questions.scss */
.header:hover {
  background: #eeeeee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: inset #4e4e4e 0px 0px 5px;
  -moz-box-shadow: inset #4e4e4e 0px 0px 5px;
  box-shadow: inset #4e4e4e 0px 0px 5px;
}
/* line 72, ../sass/questions.scss */
.header input[type="checkbox"] {
  float: left;
  margin-right: .25em;
}
/* line 79, ../sass/questions.scss */
.header .available-questions,
.header .report-questions,
.header .selected-questions {
  display: inline;
  float: left;
  width: 100%;
  list-style: none;
  padding: 0;
  margin-left: 0;
}
/* line 87, ../sass/questions.scss */
.header .available-questions a,
.header .report-questions a,
.header .selected-questions a {
  display: inline;
  float: left;
  width: 94%;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: .5em;
  margin-right: 0;
}

/* line 104, ../sass/questions.scss */
.button-wrapper {
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

/* line 108, ../sass/questions.scss */
.add-wrapper {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
/* line 111, ../sass/questions.scss */
.add-wrapper #questionSelector {
  display: none;
}
/* line 115, ../sass/questions.scss */
.add-wrapper button {
  float: right;
}

/* line 120, ../sass/questions.scss */
.continue-wrapper {
  width: 49.153%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}
/* line 123, ../sass/questions.scss */
.continue-wrapper button {
  float: right;
}
